@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,wght@0,200;0,300;0,400;0,500;1,400;1,500&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Source Serif 4', sans-serif;
    box-sizing: border-box;
}
body {
    background-image: url(/cloudbg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.searchBar {
    text-align: center;
    margin: 50px 0;
}

.displayData {
    width: 80%;
    min-height: 80vh;
    background-color: rgba(231, 233, 233, 0.288);
    margin: auto;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.534);
    border-radius: 10px;
    padding-bottom: 50px;
}
.displayData h1 {
    font-size: 50px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.432);
    padding: 40px;
    text-align: center;
}
.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    border:1px solid rgba(185, 176, 176, 0.432);
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.685);
    border: 2px solid rgba(255, 255, 255, 0.555);
    margin: 40px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    color: rgb(58, 58, 58);
}
.card .dateinfo {
    text-align: right;
    background-color: whitesmoke;
    padding-right: 5px;
    padding-bottom: 5px;
}

.card .day {
    font-size: 30px;
    padding: 6px 0;
}
.description {
    margin-top: 10px;
}
.temp {
    font-size: 40px;
    position: absolute;
    top: 20px;
    left:10px;
}

.chart {
    background-color: rgba(255, 255, 255, 0.87);
    width: 90%;
    max-width: 900px;
    margin: auto;
    border-radius: 5px;
    display: none;
}
.pictures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
}
.img {
    width: 30%;
    min-width: 300px;
    height: 20%;
    max-height: 200px;
    object-fit: cover;
}


input[type="text"] {
    height: 40px;
    width: 400px;
    font-weight: bold;
    font-size: 20px;
    
}
input[type="submit"] {
    padding: 4px;
    height: 40px;
    font-size: 20px;
}

@media only screen and (max-width: 948px) {
    .card {
        width: 70%;
    }

    input[type="text"] {
        width: 50%
    }
}
@media only screen and (max-width: 515px) {
    .card {
        width: 70%;
        min-width: 250px;
    }

    input[type="text"] {
        width: 50%
    }
}